<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 Not Found</title>
    <link href = "{% static 'css/not-found.scss' %}" rel = "stylesheet" type = "text/css" />
</head>
<body>
    <div class="page-wrapper">
        <div class="needle-wrapper">
          <div class="base"></div>
          <div class="lines">
            <div class="vertical"></div>
        
            <div class="horizontal"></div>
          </div>
        </div>
        <div class="disk-wrapper">
          <div class="light-left"></div>
          <div class="light-right"></div>
          <div class="disk">
            <div class="half-circle-top"></div>
            <div class="half-circle-bottom"></div>
            <div class="separator"></div>
            <div class="inner-circle">
              <span>4</span>
              <div class="dot"></div>
              <span>4</span>
            </div>
          </div>
        </div>
        </div>
        <div class="error">Uh oh! Looks like we've skipped a beat </div>
</body>