*{
    margin: 0;
    padding:0px
}
/*To use the custom font*/
@font-face {
	font-family: 'sansation_regular';
	src: url("/static/fonts/sansation_regular.ttf");
}
body{
    background-image: url("/static/images/wallpaper2.jpg");
    padding: 5px;
    background-repeat: no-repeat;
    background-size: 1400px 700px;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main_title{
    display:inline-block;
}
.main_title h1{
    font-size:30px;
    font-family:sansation_regular,sans-serif;
    color: #ffff;
    display: inline-block;
    letter-spacing: 2px;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
}

/*Navigation bar*/
.wrapper {
    height: 65px;
    display: inline-block;
    align-items: center;
    justify-content:center;
    margin-left: 8.5cm;
    font-family: sansation_regular,sans-serif;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  nav {
    display: flex;
    width: 90%;
  }
  
  ul li a {
    margin-left: 2.5em;
    padding-bottom: 4px;
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
  }
  
  a::after {
    content:"";
    top: 80%;
    border-bottom: 1.5px solid #ffffff;
    transition: all 0.50s;
    position: absolute;
  }
  
  a:hover::after {
    transition: all 0.50s;
  }
  
  a::after {
    right: 50%;
    left: 50%;
  }
  
  a:hover::after {
    right: 0;
    left: 0;
  }
  /*Styling Hamburger*/
  .hamburger div{
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
  }
  .hamburger{
    display: none;
  }

/*Navigation ends*/

/*Styling the loader*/
.center {
  height: 80vh !important;
  display: flex  !important;
  justify-content: center !important;
  align-items: center !important;
  }

  .wave {
    width: 2px !important;
    height: 50px;
    background: linear-gradient(45deg, cyan, #fff) !important;
    margin: 5px;
    animation: wave 1s linear infinite !important;
    border-radius: 20px;
  }

  .wave:nth-child(2) {
    animation-delay: 0.1s  !important;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s !important;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s !important;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s !important;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s !important;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s !important;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s !important;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s !important;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s !important;
  }
  
  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  /*End of loader*/

/*Drag Info*/
.drag_info h2{
    font-size: 25px;
    font-family: sansation_regular,sans-serif;
    color: #ffff;
    display: inline-block;
    letter-spacing: 2px;
    margin-top: 15px;
    margin-left: 44%;
}
.drag_info h5{
    font-size: 20px;
    font-family: sansation_regular,sans-serif;
    color: #ffff;
    margin-top: 60px;
    margin-left: 25%;
    font-weight: 100;
    font-style: justify;
}
.drag_info h6{
    font-size: 20px;
    font-family: sansation_regular,sans-serif;
    color: #ffff;
    margin-top: 10px;
    margin-left: 26%;
    font-weight: 100;
    font-style: justify;
}

/*Add music style*/
.add_music{
    margin-top: 70px;
    margin-left: 43%;
    font-size: 20px;
    font-family: sansation_regular,sans-serif;
    color: #ffff;
    font-weight: 100;
    font-style: justify;
}

/*Drag and Drop Area*/
.dropzone.dz{
  border-style: dashed!important;
  border-color: #ffffff!important;
  border-radius: 20px; 
  background-color: #f3b0b4;
  height: 50px;
  width: 400px;
  margin-left: 36%;
  margin-top: 20px;
  display: inline-block;
}
.dz-message{
  font-family: sansation_regular,sans-serif;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}
.dz:hover{
  background-color:#e99bb2;
}
img.plus_icon_second{
  padding:0;
  margin-top:-50px;
  width: 30px;
  height: 30px;
}
/*Drag and Drop area Ends*/

/*Style for plus icon*/
img.plus_icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    font-family: sansation_regular,sans-serif;
}
/*Area of Genre Prediction*/
.up-form{
  position: relative !important;
  left: 50% !important;
  margin-top: 20px !important;
  margin-left: -250px !important;
  width: 500px !important;
  height: 250px !important;
  border: 4px dashed #fff !important;
  background-color: #a0bcf0;
  border-radius: 20px;
  cursor: pointer !important;
}
.up-form:hover{
  background-color:#79aaeb;
}
.up-p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #ffffff;
}

.up-input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
button{
  margin: 0 !important;
  color: #fff !important;
  font-family:'Montserrat', sans-serif;
  font-size: 15px !important;
  background: #16a085 !important;
  border: none !important;
  width: 200px !important;
  height: 35px !important;
  margin-top: 30px !important;
  margin-left: 140px !important;
  border-radius: 4px !important;
  border-bottom: 4px solid #117A60;
  transition: all .2s ease !important;
  outline: none !important;
  cursor: pointer;
}
button:hover {
  color: #ffffff !important;
    background-color: rgb(12, 158, 60) !important;
}

/*End of Area of Genre Prediction*/

/*Styling Audio Player*/
 p #audio_player{
  width: 30% !important;
  height: 10% !important;
  position: absolute !important;
  margin-left: 35%;
  padding:10px;
}


/*End of Styling Audio Player*/

   /*Responsive part*/

   @media (max-width: 1024px) {
    .main_title h1{
      font-size: 14px;
    }
    .wrapper {
      height: auto;
    }
    nav{
      
      z-index: 3;
    }
    .hamburger{
      display: block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      padding-bottom: 20%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
    }
    .navbar-nav{
      position: fixed;
      background: #217bc5;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .navbar-nav.open{
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
      right: 1%
    }
    .navbar-nav li{
      opacity: 0;
      padding-bottom: 20px;
      padding-left: 20%;
    }
    .navbar-nav li:nth-child(1){
      transition: all 0.5s ease 0.2s;
    }
    .navbar-nav li:nth-child(2){
      transition: all 0.5s ease 0.4s;
    }
    .navbar-nav li:nth-child(3){
      transition: all 0.5s ease 0.6s;
    }
    .navbar-nav li:nth-child(4){
      transition: all 0.5s ease 0.7s;
    }
    li.fade{
      opacity: 1;
    }
    .drag_info h5{
      font-size: 10px;
      margin-left: 30px;
    }
    .drag_info h6{
      font-size: 10px;
      margin-left: 30px;
    }
    .drag_info h2{
      font-size: 15px;
      margin-left: 35%;
    }
    .up-form{
      width: 250px !important;
      height: 150px !important;
      margin-left: -125px !important;
    }
    img.plus_icon{
      width: 40px !important;
      height: 40px;
      top: 40%
    }
    .up-p{
      font-size: 10px !important;  
    }
    button{
      width: 100px !important;
      height: 30px !important;
      margin-left: 70px !important;
    }
    .add_music h5{
      font-size: 12px !important;
      margin-left: -50px !important;
    }
    .dropzone.dz{
      margin-left: 40px !important;
      width: 320px !important;
    }
  }

/*Animating Hamburger Icon on Click*/
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  transition: all 0.7s ease;
  width:0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

