*{
    margin: 0;
    padding:0px
}
/*To use the custom font*/
@font-face {
	font-family: 'sansation_regular';
	src: url("/static/fonts/sansation_regular.ttf");
}
body{
    background-image: url("/static/images/wallpaper2.jpg");
    padding: 5px;
    background-repeat: no-repeat;
    background-size: 1400px 700px;
}
.back_arrow{
    position: absolute !important;
    top: 40px !important;
    left: 40px !important;
    cursor: pointer !important;
}
.back_arrow img{
    width: 50px !important;
    height: 50px !important;
}
.main_heading{
    display:inline-block;
    font-family:'sansation_regular',sans-serif;
    font-size:20px;
    color:#ffff;
    padding: 5px;
    margin-top: 3cm;
    margin-left: 25%;
    letter-spacing: 2px;
}
.check_image_holder{
    display:inline-block;
    margin-left: 45%;
    margin-top: 10px;
}
.check_image_holder img{
    width: 130px;
    height: 70px;
}
.your_genre{
    padding: 5px ! important;
    font-family: sansation_regular,sans-serif !important;
    font-size: 17px !important;
    color: #ffff !important;
    margin-top: 10px;
    letter-spacing: 2px;
    margin-left: 40%;
}
.party_holder-1{
    display:flex;
    float: left;
    margin-left: 10%;
}
.party_holder-1 img{
    width: 300px;
    height: 250px;
}
.my_genre{
    display:flex;
    float: left;
    margin-left: 5%;
}
.my_genre h3{
    font-family: sansation_regular,sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    padding-left: 70px;
    padding-top: 100px;
    text-transform: uppercase;
}
.my_genre i{
    font-size: 20px;
    color: #ffff;
    padding: 5px;
    margin-top: 10px;
    letter-spacing: 2px;
    font-family: "snasation_regular",sans-serif;
}
.party_holder-2{
    display:flex;
    float: right;
    margin-right: 10%;
}
.party_holder-2 img{
    width: 300px;
    height: 250px;
}

/*Responsive part*/

@media (max-width: 1024px) {

    .back_arrow img{
        height: 30px !important;
        width: 30px !important;
    }
    .main_heading h2{
        font-size: 13px !important;
        margin-left: -90px !important;
    }
    .check_image_holder img{
        width: 50px;
        height: 30px;
    }
    .your_genre h2{
        font-size: 13px;
        margin-left: -50px;
    }
    .party_holder-1 img{
        display: none;
    }
    .party_holder-2 img{
        display: none;
    }
    .card-body h3{
        margin-left: 10px !important;
    }
    
}
